header {
  text-align: center;
  margin-bottom: 20px;

  .header-container {
    background-color: #EEE;
    padding: 10px;
  }

  .header-page {
    display: flex;
    justify-content: center;
    padding: 10px;

    h2 {
      background: #0b868f;
      padding: 10px;
      border-radius: 10px;
      color: white;
    }
  }

  .header-kpis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 5px;

    .header-kpi {
      padding: 10px;
      border: solid #0b868f 1px;
      border-radius: 10px;
      color: gray;
      margin: 0px;

      p {
        text-align: center;
        margin: 0;
      }

      p:last-child {
        font-weight: bold;
        color: black;
      }
    }
  }

  a {
    margin: 0 10px;
    color: #777;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: #000;
      text-decoration: none;
    }
  }
}
