header {
  text-align: center;
  margin-bottom: 20px;

  .header-container {
    background-color: #EEE;
    padding: 10px;
  }

  .header-page {
    display: flex;
    justify-content: center;
    padding: 10px;

    h2 {
      background: #0b868f;
      padding: 10px;
      border-radius: 10px;
      color: white;
    }
  }

  a {
    margin: 0 10px;
    color: #777;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: #000;
      text-decoration: none;
    }
  }
}
