<app-header [headerData]="headerData" />
<div>
  <div>
    <div class="split">
      <div>
        <p>Number of entries</p>
        <p>{{ totalEntries$ | async }}</p>
      </div>
      <div>
        <p>Total Number of medals</p>
        <p>{{ totalMedals$ | async }}</p>
      </div>
      <div>
        <p>Total Number of athletes</p>
        <p>{{ totalAthletes$ | async }}</p>
      </div>
    </div>
  </div>
  <div class="chart-container wrapper-container">
    <div class="container">
      <canvas id="countryChart">{{ lineChart }}</canvas>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
