
.wrapper-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    p{
      font-size: 2.2rem;
      text-align: center;
      color: gray;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
